body {
	  background-color: powderblue;
	  position: relative;
  }
  h1 { 
	  position: relative;		
	    color: blue;
	    left: 750px;
	    top: 20px;		
    }
    p {
	    position: relative;
	      color: red;
	      top: 22px;
	      left: 600px;	      
     	    font-size: 30px;
      }
     img 
     	{
	     position: relative;
   	     top: 24px;
	     left: 700px;
	     border: 2px solid black;
     }
